// COLORS
// $primary-color: #7f7fd5;
// $secondary-color: #91eae4;

$primary-color: #833ab4;
$secondary-color: #fd1d1d;

$white-color: #000;

$dark-grey: #333333;

$dark-blue-text: #fff; // For Headings
// $dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 2.2rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
